<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/main.css" rel="stylesheet">
  </head>
  <body>
    <h1>Image search abstraction layer</h1>
    <h3>How to use:</h3>
    <p>/api/imagesearch/'searchPhrase'</p>
    <h3>Check logs:</h3>
    <p>/api/logs</p>
  </body>
</html>